{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Note List</title>
</head>
<body>
    <h1>Notes</h1>
    <ul>

        <h2>All Notes:</h2>
        {% if notes %}
            {% for note in notes %}
                <li>
                    <text style="font-weight: bold;">{{ note.content }}</text> 
                    - <small>{{ note.created_at }}</small>

                    {% if user == note.author %}
                        <a href="{% url 'note-delete' note.id %}" style="font-weight: normal; color: #ff513a;">Delete Note</a>
                        <h1>Delete this Note</h1>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit">Confirm</button>
                        </form>
                    {% endif %}

                </li>
            {% endfor %}
        {% else %}
            <p>No notes yet.</p>
        {% endif %}

        <a href="{% url 'note-create' %}">Write a Note</a>
        <h1 style="font-family: Arial, Helvetica, sans-serif; margin-bottom: 0px; color: rgb(220,220,220); align-self: center;">Create a Note</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>

    </ul>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
